<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportify"
        tools:targetApi="31">
        <activity
            android:name=".NewsScreen"
            android:exported="false" />
        <activity
            android:name=".CarouselItem"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".frag4" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".View_btn_Tennis"
            android:exported="false" />
        <activity
            android:name=".View_btn_NHL"
            android:exported="false" />
        <activity
            android:name=".View_btn_NPL"
            android:exported="false" />
        <activity
            android:name=".View_btn_NFL"
            android:exported="false" />
        <activity
            android:name=".View_btn_Master"
            android:exported="false" />
        <activity
            android:name=".View_btn_Football"
            android:exported="false" />
        <activity
            android:name=".View_btn_F1"
            android:exported="false" />
        <activity
            android:name=".View_btn_EPL"
            android:exported="false" />
        <activity
            android:name=".View_btn_cricket"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".toolbar"
            android:exported="false" />
        <activity
            android:name=".LeagueSelection"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".GameDetails"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frag4"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>